body {
    background-image: url("images/university.jpeg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: navy;
    text-align: center;
}

.mybox {
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.85);
}

#title {
    color: darkred;
}

.navbar {
    margin-bottom: 20px;
}

img {
    border: 3px solid black;
    padding: 5px;
}
